[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
pydocstyle = "*"
pylint = "*"
mypy = "*"
pytest = "*"
coverage = "*"

[packages]
aiohttp = "*"
pymodbus = "*"
wgt = {path = ".", editable = true}

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true  # for black
